:root {
  --font: 'Montserrat', sans-serif;
  --lightColor: #ffffff;
  --darkColor: #000000;
  --gray: #e2e2e2;

}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--lightColor);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
